extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 welcome to India b
  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam illo quidem minus. Quibusdam eos voluptatibus dolores numquam architecto impedit tempora animi consectetur, unde est, rem veritatis enim. Quia, tenetur doloribus.
  br
  <hr>
  p this is express backend application for simple api testing datagrid 
  h6 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae ipsum labore nisi earum ex praesentium sed sint eius! In quae earum itaque quas possimus magni temporibus quibusdam voluptatum ex illum!
 